.header-img {
    display:block;
    margin:auto;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.content-img {
    border-radius: 5px;
}